# Ignore data files
data/raw/*
data/cleaned/*
data/logs/*
etl/*.ipynb
venv/
.venv/
backend/venv/

# Python cache
_pycache_/
*.pyc

# Environment files
.env
.env.*

# OS junk
.DS_Store
Thumbs.db


pyvenv.cfg

